@charset "utf-8";
body {
    padding: 0;
    margin: 0;
    line-height: 2;
    background-image: url("images/bg.JPG");
}
.wrapper {
    opacity: 0;
    visibility: hidden;
    transform: translateY(40px);
    transition: all 1s;
    &.is_show {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
    }
}

//
//
//Home scss
@keyframes name {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
    }
}
#firstview {
    text-align: center;
    min-height: 100%;
    border: 10px solid #848389;
    visibility: hidden;
    .home__wrapper {
        margin: 38px auto;
        .home__name {
            margin: 25px;
            letter-spacing: 0.08em;
            box-sizing: border-box;
            color: gray;
            font-size: 6.5rem;
            font-weight: 800;
            @media only screen and(max-width: 1024px) {
                font-size: 90px;
            }
            @media only screen and(max-width: 599px) {
                font-size: 36px;
            }
        }
        .home__description {
            padding: 0 50px;
            @media only screen and(max-width: 1024px) {
                margin: 40px;
                padding: 0 40px;
                font-size: 25px;
            }
            @media only screen and(max-width: 599px) {
                padding: 30px 40px;
                font-size: 30px;
                
            }
            font-size: 1.75rem;
            overflow-wrap: normal;
        }
    }
}
.bg__firstview {
    background-image: url("images/mesh.png");
    .bg {
        border: 15px solid #bebcbf;

        display: inline-block;
        background-size: cover;
        background-color: rgba(255, 255, 255, 0.75);
    }
}

//----------------------------
//----------------------------
//Header scss navbar
nav {
    z-index: 2;
    .navbar {
        display: flex;
        list-style: none;
        justify-content: space-around;
        margin-top: 10px;
        padding: 0;
        .navbar__item {
            transform: rotate(10deg);
            .navbar__link {
                padding: 5px;
                font-size: 3.5rem;
                font-weight: 450;
                color: black;
                &:hover {
                    padding: 5px;
                    font-size: 3.5rem;
                    font-weight: 450;
                    color: white;
                    background-color: #ff7f00;
                }
            }
        }
    }
}
//----------------------------
//----------------------------
//About scss
#about {
    max-width:100%;
    padding: 0 30px;
    margin-bottom: 70px;
    .about__container__head {
        font-size: 3.0rem;
        margin: 0;
        padding: 50px 0 20px 0;
        opacity: 0.05;
        transform: translate(-50px, 0);
        transition: all 1000ms;
        &.personality_scroll {
            opacity: 1;
            transform: translate(0, 0);
        }
    }
}
.wrapper__title {
    padding: 70px 0 30px 0;
    margin: 0;
    text-align: center;
    font-size: 4.0rem;
}
    .about__container__profile {
        height: 20rem;
        text-align: center;
        display: flex;
        justify-content: space-around;
        padding: 20px;
        box-sizing: border-box;
        box-shadow: 0px 0px 0px 12px rgba(235, 235, 235, 0.5);
        background-color: #e7e6eb;
        border: dashed 2px #63666b;
        opacity: 0.05;
        transform: translate(-50px, 0);
        transition: all 2000ms;
        &.personality_scroll {
            opacity: 1;
            transform: translate(0, 0);
        }
        .about__discription {
            display:flex;
            justify-content: center;
            align-items: center;
        }
    }
table {
    border-collapse: separate;
    display: table;
    box-sizing: border-box;
    text-indent: initial;
    white-space: nowrap;
    vertical-align: middle;
    td {
        font-size: 1.74rem;
        display: table-cell;
        vertical-align: inherit;
    }
    th {
        font-size: 2rem;
        display: table-cell;
        vertical-align: text-bottom;
        text-align: -internal-center;
    }
}

.about__container__personality {
    padding: 0.2em 0.5em;
    max-width: 100%;
    box-shadow: 0px 0px 0px 12px rgba(235, 235, 235, 0.5);
    border: dashed 2px #63666b;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #ebebeb;
    opacity: 0.05;
    transform: translate(-50px, 0);
    transition: all 2000ms;
        &.personality_scroll {
            opacity: 1;
            transform: translate(0, 0);
        }
        .tree_figure {
            position: relative;
            width: 70%;
            height: 100%;
            margin: 0 auto;
            img {
                object-fit: cover;
                max-width: 100%;
                height: auto;
            }
        }
    .about__personality__discription {
        width: 40%;
        font-size: 1.75rem;
        font-weight: 600;
        ul {
            padding-top: 2px;
            li {
            list-style: none;
            margin: 2rem 0;
            }
        }
    }   
}

//----------------------------
//----------------------------
//Skill scss
    .about__container__skill {
        background-color: #f3f4f8;
        box-shadow: 0px 0px 0px 30px rgba(212, 218, 232, 0.6);
        padding: 0 30px 70px 0;
        margin: 30px 30px;
        .cards {
            width: 720px;
            display: block;
            margin: auto;
            justify-content: space-around;
            flex-wrap: wrap;
            .card {
                width: 420px;
                height: 520px;
                padding: 1rem 2rem;
                margin-bottom: 24px;
                border-radius: 20px;
                .card__img {
                    width: auto;
                    height: 340px;
                    border-radius: 20px 20px 0 0;
                    object-fit: cover;
                }
                .card__content {
                    height: 280px;
                    .card__title {
                        text-align: center;
                        font-size: 1.75rem;
                        font-weight: 600;
                        margin: 18px 0;
                    }
                    .card__lead {
                        padding: 0 40px;
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }

.card__block {
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    
}

//----------------------------
//----------------------------
//Doing scss
#doing {
    padding-bottom: 70px;
    .items{
        padding-top: 50px;
        text-align: center;
        display:flex;
        justify-content:center;
        align-items:center;
        background: linear-gradient(135deg, white, #f4f6fc) fixed;
        .item{
            box-sizing: border-box;
            border:1px solid #ccc;
            margin: 0 25px 50px 25px;
            padding: 20px;
            width: 33.3%;
            height: 600px;
            .item__img {
                width: 100px;
                height: 104px;
            }
            .item__content {
                .item__title {
                    margin: 20px;
                    font-size: 1.4rem;
                    line-height: 1.4;
                }
                p.item__title {
                    font-weight: 530;
                    color: #a1a0a5;
                    letter-spacing: 0.09em;
                }
                .item__lead {
                    margin-top: 1.5rem;
                    font-size:1.2rem;
                    text-align: left;
                }
            }
        }
    }
}
.item {
    opacity: 0.05;
    transform: translate(0, 50px);
    transition: all 1000ms;
    &:first-child {
        transition-delay: 400ms;
    }
    &:last-child {
        transition-delay: 800ms;
    }
    &.service_scroll {
        opacity: 1;
        transform: translate(0, 0);
    }
}
//----------------------------
//----------------------------
//Achievement scss
.achieve__container {
    background-color: #f3f4f8;
    box-shadow: 0px 0px 0px 30px rgba(212, 218, 232, 0.6);
    padding: 0 30px 70px 0;
    margin: 30px 30px;
    border: dashed 2px #63666b;
    text-align: center;
    .achieve__card {
        .achieve__title {
            padding: 40px;
            font-size: 2rem;
            font-weight: 500;
            position: relative;
            display: inline-block;
            padding: 0 65px;
            text-align: center;
            &:before,
            &:after {
            position: absolute;
            top: calc(50% - 3px);
            width: 50px;
            height: 6px;
            content: '';
            border-top: solid 2px #000;
            border-bottom: solid 2px #000;
            }
            
            &:before {
            left: 0;
            }
            
            &:after {
            right: 0;
            }
        }
        .achieve__lead p {
            margin-top: 1.5rem;
            font-size:1.2rem;
            font-weight: 600;
        }
        .achieve__lead h3 {
            margin: 20px;
            font-size: 1.4rem;
            line-height: 1.4;
        }
    }
}

//----------------------------
//----------------------------
//Contact scss
#contact {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    h4 {
        margin: 0;
        font-size: 4rem;
        &:after {
            content: "";
            display: block;
            width: 90%;
            height: 3px;
            background: linear-gradient(to right, rgb(0, 0, 0), transparent);
        }
    }
    p {
        margin: 30px 0 90px 0;
        font-size: 2rem;
        letter-spacing: 0.04em;
    }
    .sns__icon {
        display: flex;
        justify-content: center;
        .sns {
            padding: 50px 50px;
            width: 100px;
            height: 100px;
        }
    }
}

//----------------------------
//----------------------------
//Footer scss
footer {
    z-index: 2;
    margin-bottom: 70px;
    .footer__navbar {
        display: flex;
        list-style: none;
        justify-content: space-around;
        margin-top: 10px;
        padding: 0;
        .footer__navbar__item {
            .footer__navbar__link {
                font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
                padding: 5px;
                font-size: 3rem;
                font-weight: 450;
                color: #767e8b;
            }
            .footer__navbar__link:hover {
                font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
                padding: 5px;
                font-size: 3rem;
                font-weight: 450;
                color: white;
                background-color: #ff6600;
            }
        }
    }
}
